<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
   
    <link href="/css/common.css" rel="stylesheet" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <!--Font-awesome - This CSS file will help you to create the icons in the modals, amenities section, etc.-->
    <link href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" rel="stylesheet" />
    <!--Google fonts - you can use the following CSS for the open sans font used in the web application.-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet" />
    <!-- linking my css files -->
    <style>
      .card_image{
        height:300px
      }
    </style>
    <title> <%= title %> </title>
   
</head>



<section>
  <div class="max-w-sm rounded overflow-hidden shadow-lg">
      <img class="w-full card_image" src="/public/public/images/ooty.jpg"
       alt="Sunset in the mountains">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2 text-center py-2">Name of the place</div>
        <hr>
        <p class="py-2 text-gray-700 text-base text-center">
          Description
        </p>
        <hr>
  
        <p class="py-2 text-gray-700 text-base text-center">
          State
        </p>
        <p class="py-2 text-gray-700 text-base text-center">
          Maximum Duration
        </p>
        <p class="py-2 text-gray-700 text-base text-center">
          Price
        </p>
        <hr>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
          <a target="_blank" href="https://www.google.com">
            #Get directions
          </a>
        </span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
      </div>
  </div>
</section>

  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap w-full mb-20">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">People's favourite tourist placesbn </h1>
          <div class="h-1 w-20 bg-blue-500 rounded"></div>
        </div>
        <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">


          <!-- write something here -->
        </p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="/public/images/new delhi.PNG" alt="content">
            <h3 class="tracking-widest text-blue-500 text-xs font-medium title-font">Top place</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4 text-center" >New Delhi</h2>
            <p class="leading-relaxed text-base text-center">Description</p>
            <hr>
  
        <p class="py-2 text-gray-700 text-base text-center">
          State
        </p>
        <p class="py-2 text-gray-700 text-base text-center">
          Maximum Duration
        </p>
        <p class="py-2 text-gray-700 text-base text-center">
          Price
        </p>
        <hr>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 ">
          <a  class="text-end" target="_blank" href="https://www.google.com">
            #Get directions
          </a>
        </span>
          </div>

        </div>
          
       
        </div>
      </div>
    </div>
  </section>


